@using DPS.Lib.Core.Shared
@model Zero.Web.Areas.Lib.Model.Route.CreateOrEditRouteViewModel

<form name="RouteInformationsForm" role="form" novalidate class="form-validation">

    @if (Model.IsEditMode)
    {
        <input type="hidden" name="id" value="@Model.Route.Id"/>
    }
    <input type="hidden" name="language" id="Entity_Language" value=""/>

    <div class="row">
        <div class="col-6">
            <div class="form-group">
                <label for="Route_Code">
                    @L("Code") <span class="text-danger">*</span>
                </label>
                <input class="form-control" id="Route_Code" value="@Model.Route.Code" type="text" name="code" required maxlength="@ZeroConst.MaxCodeLength" minlength="@ZeroConst.MinCodeLength"/>
            </div>
        </div>
        <div class="col-6">
            <div class="form-group">
                <label for="Route_Name">
                    @L("Name") <span class="text-danger">*</span>
                </label>
                <input class="form-control" id="Route_Name" value="@Model.Route.Name" type="text" name="name" required/>
            </div>
        </div>

        <div class="col-6">
            <div class="form-group">
                <label>@L("ManagementUnit")</label>
                <select id="ManagementUnitId" style="width:100%;" name="managementUnitId" class="form-control">
                    @if (!string.IsNullOrEmpty(Model.Route.ManagementUnitCode) && !string.IsNullOrEmpty(Model.Route.ManagementUnitName) && Model.Route.ManagementUnitId > 0)
                    {
                        <option value="@Model.Route.ManagementUnitId" selected="selected">@Model.Route.ManagementUnitCode - @Model.Route.ManagementUnitName</option>
                    }
                </select>
            </div>
        </div>

        <div class="col-6">
            <div class="form-group">
                <label for="Route_ListPoint">
                    @L("ListPoint")
                </label>
                <input class="form-control" id="Route_ListPoint" value="@Model.Route.ListPoint" type="text" name="listPoint"/>
            </div>
        </div>

        <div class="col-6">
            <div class="form-group">
                <label for="Route_ListTime">
                    @L("ListTime")
                </label>
                <input class="form-control" id="Route_ListTime" value="@Model.Route.ListTime" type="text" name="listTime"/>
            </div>
        </div>

        <div class="col-6">
            <div class="form-group">
                <label for="Route_RouteDetail">
                    @L("RouteDetail")
                </label>
                <input class="form-control" id="Route_RouteDetail" value="@Model.Route.RouteDetail" type="text" name="routeDetail"/>
            </div>
        </div>

        <div class="col-6">
            <div class="form-group">
                <label for="Route_MinuteLate">
                    @L("MinuteLate")
                </label>
                <input class="form-control" id="Route_MinuteLate" value="@Model.Route.MinuteLate" type="text" name="minuteLate"/>
            </div>
        </div>

        <div class="col-6">
            <div class="form-group">
                <label for="Route_Range">
                    @L("Range")
                </label>
                <input class="form-control" id="Route_Range" value="@Model.Route.Range" type="text" name="range"/>
            </div>
        </div>

        <div class="col-6">
            <div class="form-group">
                <label for="Route_EstimatedTime">
                    @L("EstimatedTime")
                </label>
                <input class="form-control" id="Route_EstimatedTime" value="@Model.Route.EstimatedTime" type="text" name="estimatedTime"/>
            </div>
        </div>

        <div class="col-6">
            <div class="form-group">
                <label for="Route_EstimateDistance">
                    @L("EstimateDistance")
                </label>
                <input class="form-control" id="Route_EstimateDistance" value="@Model.Route.EstimateDistance" type="text" name="estimateDistance"/>
            </div>
        </div>

        <div class="col-6">
            <div class="form-group">
                <label>
                    @L("RouteType")
                </label>
                @Html.DropDownList("RouteType", LibHelper.ListRouteType(Model.Route.RouteType, LocalizationManager.GetSource(ZeroConst.LocalizationSourceName)), new {@class = "form-control kt-select2-non-search", @id = "RouteType"})
            </div>
        </div>

        <div class="col-3">
            <div class="form-group mb-0">
                <label>@L("IsPermanentRoute")</label>
                <div class="form-control no-border">
                    <span class="switch switch-sm switch-icon">
                        <label>
                            <input type="checkbox" value="true" id="Author_IsPermanentRoute" name="isPermanentRoute" @Html.Raw(!Model.Route.IsPermanentRoute ? "" : "checked=\"checked\"")/>
                            <span></span>
                        </label>
                    </span>
                </div>
            </div>
        </div>

        <div class="col-3">
            <div class="form-group mb-0">
                <label>@L("HasConstraintTime")</label>
                <div class="form-control no-border">
                    <span class="switch switch-sm switch-icon">
                        <label>
                            <input type="checkbox" value="true" id="Author_HasConstraintTime" name="hasConstraintTime" @Html.Raw(!Model.Route.HasConstraintTime ? "" : "checked=\"checked\"")/>
                            <span></span>
                        </label>
                    </span>
                </div>
            </div>
        </div>

    </div>
</form>